@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(16, 21, 29);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
::-webkit-scrollbar {
  width: 6px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.banner-bg-md{
  background-image: url("https://phitron.io/assets/banner-924826ed.png");
  background-repeat: no-repeat;
  background-size: cover;
}
ff-powered-img{
  display: none !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

